In [12]:
import pandas as pd

In [13]:
delitos = pd.read_csv('./data/delitos_final.csv')
df = delitos.groupby(["ano","barrios_hecho","conducta"]).size().to_frame("cantidad de delitos").reset_index().rename(columns={"barrios_hecho":'barrio'})
df1 = df.to_dict()

In [22]:
df

       ano              barrio                 conducta  cantidad de delitos
0     2010       12 DE OCTUBRE                    HURTO                    2
1     2010       12 DE OCTUBRE      LESIONES PERSONALES                    8
2     2010       12 DE OCTUBRE                    OTROS                    1
3     2010       12 DE OCTUBRE  VIOLENCIA INTRAFAMILIAR                    3
4     2010         13 DE JUNIO                    HURTO                    2
...    ...                 ...                      ...                  ...
3998  2021  VILLAS DE GIRARDOT                    OTROS                    1
3999  2021           ZARABANDA                    HURTO                    1
4000  2021           ZARABANDA      LESIONES PERSONALES                    6
4001  2021           ZARABANDA                    OTROS                    2
4002  2021           ZARABANDA  VIOLENCIA INTRAFAMILIAR                    4

[4003 rows x 4 columns]

In [25]:
type(df.groupby(["ano","barrio"]).sum().reset_index())

pandas.core.frame.DataFrame