In [1]:
import pandas as pd

In [17]:
delitos = pd.read_csv('./data/delitos_final.csv')
df = delitos.groupby(["ano","barrios_hecho","conducta"]).size().to_frame("cantidad de delitos").reset_index().rename(columns={"barrios_hecho":'barrio'})

In [3]:
df

       ano              barrio                 conducta  cantidad de delitos
0     2010       12 DE OCTUBRE                    HURTO                    2
1     2010       12 DE OCTUBRE      LESIONES PERSONALES                    8
2     2010       12 DE OCTUBRE                    OTROS                    1
3     2010       12 DE OCTUBRE  VIOLENCIA INTRAFAMILIAR                    3
4     2010         13 DE JUNIO                    HURTO                    2
...    ...                 ...                      ...                  ...
3998  2021  VILLAS DE GIRARDOT                    OTROS                    1
3999  2021           ZARABANDA                    HURTO                    1
4000  2021           ZARABANDA      LESIONES PERSONALES                    6
4001  2021           ZARABANDA                    OTROS                    2
4002  2021           ZARABANDA  VIOLENCIA INTRAFAMILIAR                    4

[4003 rows x 4 columns]

In [4]:
delitos

,Unnamed: 0,orden,armas_medios,barrios_hecho,latitud,longitud,zona,nom_comuna,ano,mes,...,dia_semana,descripcion_conducta,conducta,clasificaciones delito,edad,curso_de_vida,estado_civil_persona,genero,movil_agresor,movil_victima
0,0,1,ARMA BLANCA / CORTOPUNZANTE,BUENOS AIRES,7.170557382,-73.135108,URBANA,14 - MORRORICO,2010,1,...,5,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,30.0,05. Adultez,UNION LIBRE,MASCULINO,A PIE,A PIE
1,3,4,ARMA BLANCA / CORTOPUNZANTE,COMUNEROS,7.15135927,-73.145704583,URBANA,03 - SAN FRANCISCO,2010,1,...,5,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,36.0,05. Adultez,CASADO,MASCULINO,A PIE,A PIE
2,4,5,ARMA BLANCA / CORTOPUNZANTE,GIRARDOT,7.170557382,-73.135108,URBANA,04 - OCCIDENTAL,2010,1,...,5,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,20.0,04. Jovenes,UNION LIBRE,MASCULINO,A PIE,A PIE
3,5,6,ARMA BLANCA / CORTOPUNZANTE,GIRARDOT,7.170557382,-73.135108,URBANA,04 - OCCIDENTAL,2010,1,...,5,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,20.0,04. Jovenes,UNION LIBRE,MASCULINO,A PIE,A PIE
4,6,7,ARMA BLANCA / CORTOPUNZANTE,LOS ANGELES,7.187455129,-73.131726904,URBANA,02 - NOR ORIENTAL,2010,1,...,5,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,28.0,04. Jovenes,CASADO,MASCULINO,A PIE,A PIE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35707,135045,135046,SIN EMPLEO DE ARMAS,LA INDEPENDENCIA,NaN,NaN,NaN,02 - NOR ORIENTAL,2021,12,...,3,ARTÍCULO 347. AMENAZAS,OTROS,Lesiones no fatales,54.0,05. Adultez,NaN,MASCULINO,A PIE,A PIE
35708,135049,135050,SIN EMPLEO DE ARMAS,GIRARDOT,NaN,NaN,NaN,04 - OCCIDENTAL,2021,12,...,4,ARTÍCULO 239. HURTO A PERSONAS,HURTO,Lesiones no fatales,51.0,05. Adultez,NaN,NaN,A PIE,A PIE
35709,135061,135062,SIN EMPLEO DE ARMAS,LA JUVENTUD,NaN,NaN,NaN,02 - NOR ORIENTAL,2021,12,...,4,ARTÍCULO 239. HURTO A PERSONAS,HURTO,Lesiones no fatales,34.0,05. Adultez,NaN,NaN,A PIE,A PIE
35710,135065,135066,SIN EMPLEO DE ARMAS,TRANSICION,NaN,NaN,NaN,02 - NOR ORIENTAL,2021,12,...,4,ARTÍCULO 229. VIOLENCIA INTRAFAMILIAR,VIOLENCIA INTRAFAMILIAR,Lesiones no fatales,34.0,05. Adultez,NaN,FEMENINO,A PIE,A PIE
35711,135066,135067,SIN EMPLEO DE ARMAS,MUTUALIDAD,NaN,NaN,NaN,03 - SAN FRANCISCO,2021,12,...,4,ARTÍCULO 239. HURTO A PERSONAS,HURTO,Lesiones no fatales,34.0,05. Adultez,NaN,NaN,A PIE,A PIE

In [5]:
delitos.columns

Index(['Unnamed: 0', 'orden', 'armas_medios', 'barrios_hecho', 'latitud',
       'longitud', 'zona', 'nom_comuna', 'ano', 'mes', 'dia', 'dia_semana',
       'descripcion_conducta', 'conducta', 'clasificaciones delito', 'edad',
       'curso_de_vida', 'estado_civil_persona', 'genero', 'movil_agresor',
       'movil_victima'],
      dtype='object')

In [18]:
delitos[["barrios_hecho","ano","conducta","genero","curso_de_vida"]]

,barrios_hecho,ano,conducta,genero,curso_de_vida
0,BUENOS AIRES,2010,LESIONES PERSONALES,MASCULINO,05. Adultez
1,COMUNEROS,2010,LESIONES PERSONALES,MASCULINO,05. Adultez
2,GIRARDOT,2010,LESIONES PERSONALES,MASCULINO,04. Jovenes
3,GIRARDOT,2010,LESIONES PERSONALES,MASCULINO,04. Jovenes
4,LOS ANGELES,2010,LESIONES PERSONALES,MASCULINO,04. Jovenes
...,...,...,...,...,...
35707,LA INDEPENDENCIA,2021,OTROS,MASCULINO,05. Adultez
35708,GIRARDOT,2021,HURTO,NaN,05. Adultez
35709,LA JUVENTUD,2021,HURTO,NaN,05. Adultez
35710,TRANSICION,2021,VIOLENCIA INTRAFAMILIAR,FEMENINO,05. Adultez
35711,MUTUALIDAD,2021,HURTO,NaN,05. Adultez

In [22]:
n = delitos.groupby(["barrios_hecho","ano","conducta","genero","curso_de_vida"]).size().to_frame("cantidad de delitos").reset_index()

In [23]:
n

,barrios_hecho,ano,conducta,genero,curso_de_vida,cantidad de delitos
0,12 DE OCTUBRE,2010,HURTO,FEMENINO,06. Persona Mayor,1
1,12 DE OCTUBRE,2010,HURTO,MASCULINO,04. Jovenes,1
2,12 DE OCTUBRE,2010,LESIONES PERSONALES,FEMENINO,03. Adolescencia,1
3,12 DE OCTUBRE,2010,LESIONES PERSONALES,FEMENINO,05. Adultez,6
4,12 DE OCTUBRE,2010,LESIONES PERSONALES,MASCULINO,05. Adultez,1
...,...,...,...,...,...,...
11868,ZARABANDA,2021,OTROS,MASCULINO,05. Adultez,2
11869,ZARABANDA,2021,VIOLENCIA INTRAFAMILIAR,FEMENINO,05. Adultez,1
11870,ZARABANDA,2021,VIOLENCIA INTRAFAMILIAR,FEMENINO,06. Persona Mayor,1
11871,ZARABANDA,2021,VIOLENCIA INTRAFAMILIAR,MASCULINO,05. Adultez,1
11872,ZARABANDA,2021,VIOLENCIA INTRAFAMILIAR,MASCULINO,06. Persona Mayor,1

In [28]:
n.groupby(["barrios_hecho","ano"]).size().to_frame("cantidad de delitos").reset_index()

     barrios_hecho   ano  cantidad de delitos
0    12 DE OCTUBRE  2010                    9
1    12 DE OCTUBRE  2011                   11
2    12 DE OCTUBRE  2012                   12
3    12 DE OCTUBRE  2013                   12
4    12 DE OCTUBRE  2014                   15
..             ...   ...                  ...
952      ZARABANDA  2017                   12
953      ZARABANDA  2018                    5
954      ZARABANDA  2019                   12
955      ZARABANDA  2020                    9
956      ZARABANDA  2021                    8

[957 rows x 3 columns]

0        2010
1        2010
2        2010
3        2010
4        2010
         ...
11868    2021
11869    2021
11870    2021
11871    2021
11872    2021
Name: ano, Length: 11873, dtype: int64