In [33]:
import pandas as pd

In [34]:
delitos = pd.read_csv('./data/delitos_final.csv')
df = delitos.groupby(["ano","barrios_hecho","conducta"]).size().to_frame("cantidad de delitos").reset_index().rename(columns={"barrios_hecho":'barrio'})
df1 = df.to_dict()

In [41]:
dff = df.groupby(["ano","barrio"]).sum().reset_index()

In [43]:
dff = dff[(dff["ano"] == 2010)]

In [45]:
dff.sort_values(by="cantidad de delitos", ascending=False).head(5)

     ano          barrio  cantidad de delitos
22  2010        GIRARDOT                  162
10  2010     CAFE MADRID                  162
15  2010       COMUNEROS                  130
33  2010  LA UNIVERSIDAD                  120
3   2010         ALARCON                  100